---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for project in site.posts %}
      <li>
          <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
          
          <p>
          {{ project.oneline }}
          <br />
          {% if project.github %}
          	<a href="https://github.com/{{ project.github }}">github.com/{{ project.github }}</a>
          {% endif %}
          {% if project.link %}
          	<a href="{{ project.link }}">{{ project.link }}</a>
          {% endif %}
          </p>

          {% if project.demo %}
          	<img src="{{ project.demo }}" />
          {% endif %}
          {% if project.demo-text %}
          	<p>{{ project.demo-text }}</p>
          {% endif %}
      </li>
    {% endfor %}
  </ul>

</div>
